  <div style="margin:auto;text-align:center;">
      <canvas id="nextPiecesAreaCanvas" width="320" height="600" style="border:1px solid #cccccc;"></canvas>
      <canvas id="playAreaCanvas" width="320" height="600" style="border:1px solid #cccccc;"></canvas>
      <span style="display:none"><canvas id="currentGravityCalculationAreaCanvas" width="320" height="600" style="border:1px solid #cccccc;"></canvas></span>
  </div>

  <script src='/javascripts/bundle.js'></script>

  <!--script src="./javascripts/app.js"></script-->
