body {
  background-color:#000000;
  color: #666666;
}

#game-container {
  margin:auto;
  text-align:center;
  padding: 40px;
}

main {
  min-height: 100vh;
}

#chat-area {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
