<div class="col-6 mx-auto">
    <div class="jumbotron bg-transparent text-center mb-0 col-md-8 mx-auto">
        <h1 class="text-light">Gravitris v{{app_version}}</h1>
        <br>
        <p><span class="text-light">{{numberOfLinesCleared}} lines</span> have been cleared in <span
                class="text-light">{{numberOfGamesPlayed}} games</span>.</p>
        <p>Use <i class="fas fa-arrow-alt-circle-left text-light"></i> and <i
                class="fas fa-arrow-alt-circle-right text-light"></i> to <span
                class="text-light">move blocks</span>,<br><i class="fas fa-arrow-alt-circle-up text-light"></i> and <i
                class="fas fa-arrow-alt-circle-down text-light"></i> to <span
                class="text-light">rotate blocks</span>,<br><span class="text-light">Space</span> to <span
                class="text-light">instant drop</span>.</p>
        <p><i class="fas fa-envelope-square"></i> Subscribe to the <a href="https://mailchi.mp/3dd3db22c169/gravitris"
                                                                      target="_blank">newsletter</a>.</p>
        <p><i class="fab fa-github-square"></i> View <a href="https://github.com/frkandris/gravitris" target="_blank">source
            code</a> at github.com.</p>
        <br>
        <a href="/game"><button type="button" class="btn btn-primary">Play</button></a>
    </div>
</div>