<div class="col-6 mx-auto">
    <div class="jumbotron bg-transparent text-center mb-0 col-md-6 mx-auto">
        <h1 class="text-light" title="Gravitris v{{app_version}}">Gravitris</h1>
        <br>
        <br>
        <div class="form-group">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input type="text" class="form-control" id="player-name" placeholder="Nickname" maxlength="16">
        </div>
        <button id="play-button" class="btn btn-primary btn-lg" role="button">Play</button>
    </div>
</div>

<script>
    $(function () {

        // reload playerName from localStorage to player-name input field
        const playerName = localStorage.getItem("playerName");
        if (playerName !== null) {
            $("#player-name").val(playerName);
        }

        // if #play-button is pressed, store player-name input field value in localStorage as playerName
        $("#play-button").on("click", function () {
            let playerName = $("#player-name").val();

            // if there was no playerName, generate one
            if (playerName === '') {
                const animals = ['Alligator', 'Ant', 'Bear', 'Bee', 'Bird', 'Camel', 'Cat', 'Cheetah', 'Chicken', 'Chimpanzee', 'Cow', 'Crocodile', 'Deer', 'Dog', 'Dolphin', 'Duck', 'Eagle', 'Elephant', 'Fish', 'Fly', 'Fox', 'Frog', 'Giraffe', 'Goat', 'Goldfish', 'Hamster', 'Hippopotamus', 'Horse', 'Kangaroo', 'Kitten', 'Lion', 'Lobster', 'Monkey', 'Octopus', 'Owl', 'Panda', 'Pig', 'Puppy', 'Rabbit', 'Rat', 'Scorpion', 'Seal', 'Shark', 'Sheep', 'Snail', 'Snake', 'Spider', 'Squirrel', 'Tiger', 'Turtle', 'Wolf', 'Zebra'];
                playerName = 'Anonymous ' + animals[Math.floor(Math.random() * animals.length)];
            }

            // save it to local storage
            localStorage.setItem("playerName", playerName);

            // load game
            window.location = "/game";
        });

    });

</script>
