<div class="vertical-center">
    <div class="container">
        <h1 class="display-4">Welcome to Gravitris!</h1>
        <p class="lead">Gravitris is an online, free, unblocked, gravity based Tetris game that you can play in your browser.</p>
        <p class="lead">{{numberOfLinesCleared}} lines have been cleared in {{numberOfGamesPlayed}} games.</p>
        <a class="btn btn-primary btn-lg" href="/game" role="button">Start a new game</a>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span>v{{app_version}}</span>
        </div>
    </footer>
</div>
