<div class="vertical-center">
    <div class="container">
        <h1 class="display-4 text-light">Welcome to Gravitris!</h1>
        <p class="lead"><span class="text-light">Gravitris</span> is an <span class="text-light">online, free, gravity based Tetris game</span> that you can play in your browser.</p>
        <p class="lead"><span class="text-light">{{numberOfLinesCleared}} lines</span> have been cleared in <span class="text-light">{{numberOfGamesPlayed}} games</span>.</p>
        <p><a class="btn btn-primary btn-lg" href="/game" role="button">Start a new game</a></p>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span style="font-size: 1.5em;">
                <a href="https://mailchi.mp/3dd3db22c169/gravitris" target="_blank" alt="Subscribe to newsletter" title="Subscribe to newsletter"><i class="fas fa-envelope-square"></i></a>
                <a href="https://github.com/frkandris/gravitris" target="_blank" alt="View source code at github.com" title="View source code at github.com"><i class="fab fa-github-square"></i></a>
            </span>
            <span>v{{app_version}}</span>
        </div>
    </footer>
</div>
