<div class="vertical-center">
    <div class="container">
        <h1 class="display-4 text-light">Welcome to Gravitris!</h1>
        <p class="lead"><span class="text-light">Gravitris</span> is an <span class="text-light">online, free, gravity based Tetris game</span> that you can play in your browser.</p>
        <p class="lead"><span class="text-light">{{numberOfLinesCleared}} lines</span> have been cleared in <span class="text-light">{{numberOfGamesPlayed}} games</span>.</p>
        <a class="btn btn-primary btn-lg" href="/game" role="button">Start a new game</a>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span>v{{app_version}}</span>
        </div>
    </footer>
</div>
